/* navbar style */
.root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35rem;
  /* border: 1px solid yellow; */
  width: 99.8%;
  height: 70px;
  box-shadow: 0px 0px 10px 2px rgba(26, 65, 138, 0.473);
}

.logo {
  height: 55px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

.navbar-items span {
  font-size: 1rem;
  font-weight: 500;
}

.navbar-items span:hover {
  /* text-decoration: underline; */
  color: rgb(18, 26, 136);
}

.active-navbar-item span {
  color: rgb(18, 26, 136);
}

/* others */
.other-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  width: 99.8%;
  min-height: 400px;
}


/* footer section */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(18, 26, 136);
  min-height: 200px;
  width: 100%;
}

.footer-logo {
  height: 90px;
  width: 200px;
}

.footer-container-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* width: 100%; */
  gap: 30px;
}

.footer-section-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.footer-icons {
  color: white;
  height: 22px;
  width: 22px;
}

.footer-container-section span {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

/* home section */
.home-container {
  width: 100%;
}

.home-section1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1px;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(161, 184, 228, 0.308));
  /* width: 100%; */
}

.home-section1-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home-section1-section p {
  font-size: 3rem;
  font-weight: 600;
}

.home-btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2px;
}

.home-section2-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}

.home-section2-section label {
  font-size: 1.2rem;
  font-weight: 600;
}

.section-icons {
  height: 40px;
  width: 40px;
  color: rgb(18, 26, 136);
}

.home-section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  gap: 20px;
}

.home-section3 h2 {
  color: rgb(18, 26, 136);
  margin-bottom: 10px;
}

.card-img {
  height: 250px;
  width: 250px;
  padding: 10px;
  background: linear-gradient(rgba(142, 171, 226, 0.589), rgba(153, 178, 226, 0.425), rgb(253, 253, 253));
}

/* appointment section */
.appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
  /* border: 1px solid blue; */
  width: 100%;
}

.appointment-container h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(18, 26, 136);
}

.appointment-form {
  width: 50%;
  border-radius: 7px;
  box-shadow: 0px 1px 7px 2px rgba(179, 177, 177, 0.692);
  padding: 1rem;
}

.appointment-form h4 {
  text-align: right;
  margin-bottom: 25px;
}

.react-tel-input .form-control {
  border: 1px solid red;
  height: 38px !important;
  width: 100% !important;
}